<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<a href="/">
    <button class="btn-Home" id="btn-Home">
        HOME
    </button>
</a>


</br>
</br>
<p>IF YOU READ THIS, THEN IT MEANS THAT I HAVE DIED.</p>
<p>DON'T CRY, IT WAS AN HONORABLE DEATH AND PEOPLE WILL</p>
<p>REMEMBER MY ACTIONS.</p>
<p>THE ANSWER TO THE ULTIMATE QUESTION IS 42.</p>



<div th:insert="footer :: footer_template"></div>
</body>
</html>