<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Article</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<div id="separation2">
    <div id="c1.2"><a href="/index"><button class="btn-Home" id="btn-Home">HOME</button></a></div>
    <div id="c4.2"><a href=""><button id="btn-Cancel">Cancel changes</button></a></div>
</div>
</br>
</br>
<div style="width:100%;">
    <table style="margin-left:37.5%;margin-right:37.5%;">
      <thead><tr><th>Write article</th></tr></thead>
      <tbody><tr><td style="background-color:lightgray;">
                <form action="/addArticle" method="post">

                    <div style="margin-top:20px;">   <label>What type or article are you creating?</label><br>
                            <br><input list="articleTypes" name="category" placeholder="- select option -" style="text-align: center">
                                <datalist name="category" id="articleTypes">
                                    <option name="category" value="Tech">
                                    <option name="category" value="Modelling">
                                </datalist>
                    </div>

                    <div><br><label>Article title (max. 200 ch.):</label><br>
                         <br><textarea datatype="text" name="title" rows="3" cols="48" wrap="hard" placeholder="- nothing added -" style="text-align:center;"></textarea>
                    </div>

                    <div><br><label>Article content (max. 10.000 ch.):</label><br>
                         <br><textarea datatype="text" name="body" rows="3" cols="48" wrap="hard" placeholder="- nothing added -" style="text-align:center;"></textarea>
                    </div>

                    <div><br><input type="submit" value="Create" style="background-color:lightgoldenrodyellow;border-radius:5px;position:center;">
                    </div><br>
                </form>
      </td></tr></tbody>
    </table>
</div>
</br>
</br>
<div id="placeFooter" th:insert="footer :: footer_template"></div>
</body>
</html>