<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalin's Articles</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<div id="separation2">
    <div id="c1.2"><a href="/index"><button class="btn-Home" id="btn-Home">HOME</button></a></div>
</div>
</br>
</br>

<table th:each="picture:${pictures}">
    <thead>
    <tr>Picture Id:</tr>
    <tr>Picture:</tr>
    </thead>
    <tbody>
    <td th:text="${picture.pictureId}"></td>
    <td><img th:src="@{'/displayImage/'+${picture.pictureId}}"></td>
    <td><a th:href="@{'/deleteImage/'+${picture.pictureId}}"><button>Delete Picture</button></a>
    </td>

    </tbody>
</table>
<form method="post"  enctype="multipart/form-data" th:action="@{/upload}">
    <input type="file" th:name="content">
    <input type="hidden" name="articleId" th:value="${article.articleId}">
    <input type="submit" value="Add picture">
</form>
<a href="/articles"><button>Cancel</button></a>
<div id="placeFooter" th:insert="footer :: footer_template"></div>
</body>
</html>