<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalin's Blog</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
</br>

<p>This is the front page</p>
<p>Here all the good boys</p>
<p>receive what they deserve.</p>
<p>Have you been a good boy?</p>
<p>TEST</p>


<div th:insert="footer :: footer_template"></div>
</body>
</html>