<div th:fragment="menu_template" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navigation">
        <nav class="flex-container" id="flex-container">
        <div id="separation">
           <div id="c1" style="width:100px;height:100px;"></div>
           <div id="c2"><a href="/articles">
                    <button class="btn-ShowArticles" id="btn-ShowArticles">
                        ARTICLES
                    </button>
                </a>
                <a href="/about">
                    <button class="btn-ShowAbout" id="btn-ShowAbout">
                     ABOUT
                    </button>
                </a>
                <a href='#btn-BackOnTop'>
                    <button class="btn-ShowContact" id="btn-ShowContact">
                        CONTACT
                    </button>
                </a>
           </div>
            <div th:if="${user.email==null}" id="c3">
                <form method="post" action="/logIn" >
                <div><input name="email" type="email" placeholder="E_mail address" style="text-align: center"></div>
                <div><input name="password" type="password" placeholder="Password" style="text-align: center; margin-top: 3px;"></div>
                <div><input type="submit" value="Login" style="background-color:lightgoldenrodyellow;border-radius:5px;margin-top:3px;"/></div>
                </form>
            </div>
            <div id="c4">
            <div th:if="${user.email!=null}">
                <a href="/viewProfile">
                    <button id="btn-currentAccount"><b th:text="${user.email}"> </b></button>
                </a>
            </div>
            <div th:if="${user.email!=null}" style="padding-bottom: 5px;">
                <a href="/logout">
                    <button style="background-color:lightgoldenrodyellow;border-radius:5px;">Log Out</button>
                </a>
            </div>
            </div>
        </div>
        </nav>
    </div>
</div>