<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalin's Articles</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<a href="/">
    <button class="btn-Home" id="btn-Home">
        HOME
    </button>
</a>
</br>
</br>

    <div th:each="articles:${articles}" >

        <p id="ShowTechArticles" th:text="${articles.title}">
        Test for tech articles
    </p>

    <!--Here we display the tech articles-->
    <p id="ShowModellingArticles" th:text="${articles.body}">
        Test for modelling articles

    </p>
    </div>

      This is the show articles page
<div th:insert="footer :: footer_template"></div>
</body>
</html>