<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalin's Articles</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<div id="separation2"><div id="c1.2"><a href="/index"><button class="btn-Home" id="btn-Home">HOME</button></a></div></div></div>
</br>
</br>
<h1 th:text="${article.title}"></h1>
<p th:text="${article.body}"></p>
<div th:each="comment,iStat:${comments}">
   <div  th:text="${userList[iStat.index].email}"></div>
    <p th:text="${comment.comment}"></p>
    <div th:if="${userList[iStat.index].email==user.email} AND ${user.permission=='USER'}" >
    <a th:href="@{'/deleteComment/'+${comment.commentId} }"><button>Delete comment</button></a>
        <div id="dynamicCheck">
            <div id="loadComment"></div>
            <button type="button" onclick="loadEdit()">Edit</button>
        </div>
</div>
    <div th:if="${user.permission=='ADMIN'} OR ${user.permission=='OWNER'}">
        <a th:href="@{'/deleteComment/'+${comment.commentId} }"><button onclick="confirmDelete()">Delete comment</button></a>
    </div>

</div>

<form action="/postComment" method="post">
    <input type="hidden" name="comment_id">
    <input type="text" name="comment">
    <input type="hidden" name="articleId" th:value="${article.articleId}">
    <input type="hidden" name="userId" th:value="${user.userId}">
    <input type="submit" value="Input Comment">
</form>
    <a href="/articles"><button>Return</button></a>
    <div id="placeFooter" th:insert="footer :: footer_template"></div>


<script th:inline="javascript">
    function confirmDelete() {
        confirm("Are you sure you want to delete this comment?");
    }
   // function loadEdit(){
        // First create a DIV element.
     //   var txtNewInputBox = document.createElement('div');
        // Then add the content (a new input box) of the element.

       //     txtNewInputBox.innerHTML = "<form><input th:value='[[${comments.size}]]' type='text' id='newInputBox'><input type='submit' value='Confirm Edit'></form>";
            // Finally put it where it is supposed to appear.
         //   document.getElementById("loadComment").appendChild(txtNewInputBox);

  //  }
</script>
</body>
</html>